html, body, #container {
    height: 100%;
}

header, #container {
	padding: 10px 0;
	background: url("images/gran.jpg") #000;
}

table.table {
	background: #fff;
}

h1 {
	border-style: solid;
	border-radius: 10px;
	background-color: #fff;
	padding: 10px 0;
}

.blu {
	font-size: 40px;
	font-family: "Engagement";
	background-color: none;
}

.high {
	height: 300px;
}

.btns {
	width: 200px;
	padding: 50px;
	text-align: center;
}

.imgs {
	width: 500px;
	text-align: center;
}

img {
	opacity: 0.5;
}

img:hover {
	opacity: 1;
}

.dl-horizontal {
	position: relative;
	margin-left: -17px;	
}

.przer {
	background: url("images/gran.jpg") #000;
}

#sumbit {
	position:relative;
	left: 64px;
}

.radio {
	margin-left: 87px;
	margin-top: 50px;
}